// COLORS
$color-primary: #FE1F54;
$color-secondary: #352A50;

$color-alternative:#3600A5;

$color-background: #E8EFFA;
$color-white: #FFFFFF;
$color-black: #000000;

// FONTSIZE

$default-font-size: 1.6rem;

