.contact {
  background-color: $color-white;
  width: 100%;
  margin: auto;
  padding: 3rem 0 0 0;

  &__paragraph {
    width: 90%;
    padding: 0 1rem 0 1rem;
    margin: 0 auto 1.5rem auto;
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }

  &__form {
    padding: 0 1rem 0 1rem;
    width: 90%;
    margin: 0 auto 2rem auto;
  }

  &__address {
    width: 100%;
    background-color: $color-background;
    text-align: center;
    padding: 1.9rem 0;
    background: none;

    &__email {
      font-size: 1.8rem;
      width: 100%;
    }
    &__phone {
      font-size: 1.5rem;
      width: 100%;
    }

    &__paragraph{
      display: none;
    }
  }

  @media only screen and (min-width: 992px) {
    height: 90vh;
    background-color: transparent;
    margin: 0 auto 0 auto;
    padding: 0;

    &__wrapper {
      margin: 0 0 0 5rem;
    }

    &__options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__form {
      padding: 0;
      width: 60%;
      margin: 0;
    }

    &__paragraph {
      width: auto;
      margin: 0;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
        padding: 0;
        margin: -1.5rem auto 5rem auto;
      }
    }

    &__address {
      padding: 0;
      width: auto;

      &__email {
        font-weight: 700;
        margin-bottom: 2rem;
      }

      &__paragraph{
        display: block;
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

}