
.motto{
  line-height: normal;
  margin: 1.8rem 0 2.1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}
.wrapper {
  padding: 0 .5rem;
}

h1 {
  color: $color-primary;
  font-weight: bold;
  font-size: 5.8rem;
  margin-bottom: .8rem;
}


h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-item {
  font-weight: bold;
  font-size: 1.1rem;
  display: block;
  height: 8.5rem;
  width: 9.4rem;
  background-color: $color-secondary;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 .35rem .35rem 0;
  background-size: contain;

  a {
    padding: 1.25rem .6rem;
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    &.nav-switcher {
      font-weight: normal;
      justify-content: center;
      flex-direction: column;
      display: flex;
      align-items: center;

      .nav-icon {
        width: 45px;
        height: 30px;
        margin-bottom: 1.25rem;
      }
    }
  }

  &.opener{
    opacity: 1;
  }
  &--1{
    background-image: linear-gradient(rgba($color-secondary, 0.45), rgba($color-secondary, 0.45)),url("../../img/code_s.png");
  }
  &--2{
    background-image: linear-gradient(rgba($color-secondary, 0.45), rgba($color-secondary, 0.45)),url("../../img/mobile_s.png");
  }
  &--3{
    background-image: linear-gradient(rgba($color-secondary, 0.45), rgba($color-secondary, 0.45)),url("../../img/people_s.png");
  }


  .title{
    line-height: normal;
    color: $color-white;
    margin-bottom: .5rem;
  }
}

.next {
  margin: 3rem 0 1rem 0;
}