.tile {
  margin-bottom: 3rem;

  &__image {
    height: 7.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    margin-bottom: .9rem;

    &__title {
      margin-top: .8rem;
      font-weight: 500;
      color: $color-background;
    }
  }

  &__heading {
    display: flex;
    margin-bottom: .6rem;

    &__numbering {
      line-height: normal;
      margin-right: 1.2rem;
    }
  }
}