.nav{
  position: absolute;
  z-index: 999;
  top: 19.14rem;
  left: 1.1rem;
  height: 17.72rem;
  width: 19.5rem;

  &__list {
    display: none;
    flex-flow: wrap;

    &--open {
      display: flex;
    }
  }

  &__item {
    background-color: $color-secondary;
    height: 8.5rem;
    width: 9.4rem;
    margin: 0 .35rem .35rem 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__switcher {
      font-weight: normal;
      justify-content: center;
      flex-direction: column;
      display: flex;
      align-items: center;
      color: $color-white;

    }

    &--opener {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &__icon {
      width: 45px;
      height: 30px;
      margin-bottom: 1.25rem;
    }

    &__link {
      font-weight: normal;
      justify-content: center;
      flex-direction: column;
      display: flex;
      align-items: center;
      color: #FFFFFF;
    }
  }
  @media only screen and(max-width: 375px) {
    width: 17.5rem;

    &__item {
      height: 8.5rem;
      width: 8.4rem;
    }

  }

  @media only screen and (min-width: 425px) and (max-width: 575px) {
    width: 23.5rem;
    height: 21.72rem;

    &__item {
      height: 10.5rem;
      width: 11.4rem;
    }
  }


  @media only screen and(min-width: 576px) {
    left: 0;
    top: 0;
    height: 4.7rem;
    width: auto;
    flex-wrap: nowrap;


    &__list {
      display: flex;
      border-radius: 0 0 10px 0;
      overflow: hidden;
      flex-direction: row;
      transform-origin: 0 50%;
      transform: scaleX(0);
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;

      &--open {
        transform: scaleX(1);
        //transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }
    }

    &__item {
      height: 100%;
      width: auto;
      font-size: .88rem;
      display: flex;
      margin: 0;
      flex-direction: row;
      align-items: center;
      padding-left: 2.7rem;

      &:last-child {
        padding-right: 1.8rem;
      }
      &:not(&--opener){
        &:before {
          content: " ";
          content: " ";
          height: 2px;
          background-color: $color-background;
          width: 16px;
        }
      }

      &--opener {
        display: block;
        width: 4.7rem;
        padding: 0;
        position: static;

        .nav__item__title {
          display: none;
        }
      }

      &__switcher {
        height: 100%;

      }

      &__icon {
        width: auto;
        height: auto;
        margin: 0;
      }
      &__link {
        color: $color-background;
        line-height: 4.7rem;
        padding-left: .9rem;

        &:hover, &:focus {
          color: $color-primary;
        }

        .nav__item__icon {
          display: none;
        }

      }
    }
  }
}