.page-bar {
  position: fixed;
  display: flex;
  margin-right: .6rem;
  top: 50%;
  right:0;
  transform: translateY(-50%);
  flex-flow: column;
  width: .6rem;
  z-index: 999;

  .bar-item {
    display: block;
    height: .3rem;
    width: 100%;
    border-radius: 2.5px;
    background-color: $color-secondary;
    opacity: 0.2;

    &--active {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}