@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

.heading-secondary{
  text-align: center;
  line-height: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: $color-secondary;

}

.heading-tertiary {
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
  line-height: normal;

}